<div>
  <div #dialog class="dialog" data-type="simple">
    <div class="content">
      <div class="top">
        <div class="title">Reject request</div>
        <div class="right">
          <i class="icon icon-cross" data-close="true"></i>
        </div>
      </div>
      <div class="form-element">
        <label for="certRejectedComment" class="required custom-subtitle">
          <span>Add comment</span>
        </label>
          <textarea class="fullwidth" id="certRejectedComment" placeholder="" #certRejectedComment ></textarea>
      </div>
      <div class="bottom custom-subtitle">
        <button class="btn" type="button" (click)="onCancel()">Cancel</button>
        <button class="btn primary" [disabled]="!certRejectedComment.value || inputData.loadingData()" [class.loading]="inputData.loadingData()"
          tabindex="0"
          (click)="sendRequest(certRejectedComment.value)">Reject</button>
      </div>
    </div>
  </div>
</div>
