<div class="row">
  <div class="col sm-4">
    <div class="tile">
      <div class="header">
        <div class="left">
          <div class="title">Import new project</div>
        </div>
      </div>
      <div class="content">
        <app-project-import/>
      </div>
    </div>
  </div>
  <div class="col sm-8">
    <div class="tile">
      <div class="header">
        <div class="left">
          <div class="title">Projects</div>
        </div>
      </div>
      <div class="content">
        <app-project-assign/>
      </div>
    </div>
  </div>
</div>