<div #selectContent [attr.id]="selectId">
  <div class="clickable current-options">
    <input type="text"
           #input
           [placeholder]="placeholder ? placeholder : 'Select option'"
           [disabled]="disabled">
  </div>
  <div class="options-list">
    <ng-container *ngIf="!!optionsWithValue; else simpleOptions">
      <div *ngFor="let option of optionsWithValue"
        class="item"
        [attr.data-value]="option.optionValue"
        [class.active]="selectedOptions?.includes(option.optionValue)">{{ option.option }}</div>
    </ng-container>

    <ng-template #simpleOptions>
      <div *ngFor="let option of options"
        class="item"
        [class.active]="selectedOptions?.includes(option)">{{ option }}</div>
    </ng-template>
  </div>
</div>
