

  <div class="content">
    <p class="filter-criteria-pills" *ngIf="applyFilter">
      <span *ngFor="let list of taxonomyFilterData" class="pill">
        {{list.type}}: {{list.name}}
      </span>
    </p>
    @if (isFilter) {
      <p class="filter-criteria-pills">
        @for (filter of confirmedFilters| keyvalue; track $index) {
          <span>
            @if (filter.value.searchText) {
              <span (click)="clearSelectedFilter(filter.key)"
              class="pill removable">{{filter.value.columnName}}: {{ filter.value.searchText }}</span>
            }
          </span>
        }
        @if (isFilter) {
          <a (click)="clearAllFilters()"> Remove all</a>
        }
      </p>
    }

    <div class="loading" *ngIf="loadingEvidences"></div>
    <div class="table-top">
      <div class="table-top-left">
        <div class="table-info"></div>
      </div>
      <div class="table-top-right">
        <div class="table-buttons">
          <button class="btn table-filter">
            <i class="icon icon-filter-off"></i>
            Show column filter
          </button>
        </div>

        <div class="table-actions">
          <ng-container *ngIf="!isPackageCompleted && (isUserAuthorized('accept-reject-all-button') | async)">
            <button class="btn secondary" [disabled]="disabledSubmission || !tableUtils.isAnyRowCheckMarked(table)" (click)="acceptRejectEvidences('Reject')">
              Reject
            </button>
            <button class="btn secondary" [disabled]="disabledSubmission || !tableUtils.isAnyRowCheckMarked(table)" (click)="acceptRejectEvidences('Approve')">
             Approve
            </button>
          </ng-container>
          <button class="btn-icon table-settings" id="settings1" title="Manage columns">
            <i class="icon icon-settings"></i>
          </button>
        </div>
      </div>
    </div>
    <table class="table sortable" id="evidenceTable" #evidenceTable></table>
    <div class="pagination-group">
      <ul class="pagination"></ul>
      <div class="actions">
        <label class="left">Go to</label>
        <input type="number" min="1">

        <label class="left">Show</label>
        <div class="select" data-type="single" >
          <button class="btn current-options">50</button>

          <div class="options-list">
            <div class="item">10</div>
            <div class="item">25</div>
            <div class="item active">50</div>
            <div class="item">75</div>
            <div class="item">100</div>
          </div>
        </div>
      </div>
    </div>
    </div>
