<div class="tabs" #tabs>
  <div class="titles">
    @for (tab of tabConfigs; track $index; let tabIdx = $index;) {
      <div
        class="title"
        [class.selected]="targetTab === tab.name"
        (click)="openTab(tab.name)"
        tabindex="{{tab.name === targetTab ? '0' : '-1'}}"
      >
        {{ tab.name }}
      </div>
    }
  </div>
  
  <div class="contents">
    @for (tab of tabConfigs; track $index) {
      <div class="content" [class.selected]="targetTab === tab.name">
        @defer (on viewport) {
          @let projectIdentifier = projectId();
          @let siteIdentifier = siteId();
          @if (tab.name === TabIdentifier.lineItemEvidences) {
            <app-site-line-item-evidences [projectId]="projectIdentifier" [siteId]="siteIdentifier" />
          }
          @else if (tab.name === TabIdentifier.milestoneEvidences) {
            <app-site-milestone-evidences [projectId]="projectIdentifier" [siteId]="siteIdentifier" />
          }
          @else {
            <div class="empty-state">
              <div class="message">
                <p>No content available.</p>
              </div>
            </div>
          }
        }
        @placeholder {
          <div class="empty-state">
            <div class="message">
              <p>{{ tab.name }} content to load</p>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>