<div class="tile sm-12">
  @let isUserOnboardingAllowed = (isAuthorized(ToolPermission.ViewProjectMenuUserOnboarding) | async);
  <div class="header">
    <div class="left">
      <div class="title">{{ isUserOnboardingAllowed ? 'Onboard' : 'Project' }} user(s)/group(s)</div>
    </div>
    <div class="right">
      <div class="action">
        @if (isUserOnboardingAllowed) {
          <button class="btn primary" (click)="onClickOnboard()">Onboard user(s)/group(s)</button>
        }
      </div>
    </div>
  </div>
  <div class="content">
    <app-table-server-side-pagination
      *ngIf="fetchPageHandler"
      [filterSortColumns]="filterSortColumns"
      [tableLimitStorageKey]="tableLimitStorageKey"
      [tableHeightStyleProp]="tableHeightStyleProp"
      [columnsProperties]="columnsProperties"
      [tableRowNumSelectOptions]="tableRowNumSelectOptions"
      [fetchPageHandler]="fetchPageHandler"
    />
  </div>
</div>