<p class="section" id="filter-pills" #pill>
  <span class="pill toggle"
    *ngIf="allOptions"
    [attr.data-key]="EvidenceFilter.NEW"
    [ngClass]="{'unselected': statusUnselected(EvidenceFilter.NEW)}"
  ><i class="icon icon-alarm-level5 color-blue"></i>{{EvidenceFilter.NEW}}</span>
  <span class="pill toggle"
    [attr.data-key]="EvidenceFilter.PENDING"
    [ngClass]="{'unselected': statusUnselected(EvidenceFilter.PENDING)}"
  ><i class="icon icon-alarm-level5 color-purple"></i>Pending</span>
  <span class="pill toggle"
    [attr.data-key]="EvidenceFilter.APPROVED"
    [ngClass]="{'unselected': statusUnselected(EvidenceFilter.APPROVED)}"
  ><i class="icon icon-alarm-level5 color-green"></i>{{EvidenceFilter.APPROVED}}</span>
  <span class="pill toggle"
    [attr.data-key]="EvidenceFilter.REJECTED"
    [ngClass]="{'unselected': statusUnselected(EvidenceFilter.REJECTED)}"
  ><i class="icon icon-alarm-level5 color-red" ></i>{{EvidenceFilter.REJECTED}}</span>
  <span class="pill toggle"
    *ngIf="allOptions"
    [attr.data-key]="EvidenceFilter.REWORKED"
    [ngClass]="{'unselected': statusUnselected(EvidenceFilter.REWORKED)}"
  ><i class="icon icon-alarm-level5 color-orange"></i>{{EvidenceFilter.REWORKED}}</span>
  <span class="pill toggle"
    [attr.data-key]="EvidenceFilter.REWORKEDPENDING"
    [ngClass]="{'unselected': statusUnselected(EvidenceFilter.REWORKEDPENDING)}"
  ><i class="icon icon-alarm-level5 color-yellow"></i>Reworked-Pending</span>
  <span class="pill toggle"
    [attr.data-key]="EvidenceFilter.VIEW_ONLY"
    [ngClass]="{'unselected': statusUnselected(EvidenceFilter.VIEW_ONLY)}"
  ><i class="icon icon-alarm-level5 color-gray"></i>{{EvidenceFilter.VIEW_ONLY}}</span>
  <span class="pill toggle"
    *ngIf="offChain"
    [attr.data-key]="EvidenceFilter.READY"
    [ngClass]="{'unselected': statusUnselected(EvidenceFilter.READY)}"
  ><i class="icon icon-alarm-level5 color-blue"></i>{{EvidenceFilter.READY}}</span>
  <a class="toggle-all">Select all</a>
</p>
