<div #dialog class="dialog" data-type="simple">
  <div class="content">
    <div class="top">
      <div class="title">{{data.buttonType}} line items</div>
      <div class="right">
        <i class="icon icon-cross" data-close="true"></i>
      </div>
    </div>
    <div class="body">
      <p>{{message}}</p>
    </div>
    <div class="bottom">
      <button class="btn ghost" data-close="true" (click)="onCancel()">Cancel</button>
      <button class="btn primary" data-close="true" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
